.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  max-width: calc(1280px - (48px * 2));
  min-width: calc(100% - (48px * 2));
  min-height: 52px;
  padding: 28px 0 0;
}

@media (max-width: 768px) {
  .header {
    max-width: calc(1280px - (24px * 2));
    min-width: calc(100% - (24px * 2));
  }
}

@media (max-width: 590px) {
  .header {
    max-width: calc(590px - (16px * 2));
    min-width: calc(100% - (16px * 2));
    padding: 16px 0 0;
    min-height: 42px;
  }
}
