.lead__image {
  object-fit: cover;
  max-width: 100%;
  margin: 64px 0 0 0;
}

@media (max-width: 1024px) {
  .lead__image {
    /* margin: 64px 0 0 0; Значение из Figma */
    margin: 57px 0 0 0;
  }
}

@media (max-width: 768px) {
  .lead__image {
    margin: 56px 0 0 0;
  }
}

@media (max-width: 640px) {
  .lead__image {
    margin: 40px 0 0 0;
  }
}
