.cover {
  position: relative;
  display: flex;
  margin: 92px auto 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 740px;
  width: calc(100% - 48px * 2);
  background-image: url(../../images/cover/__background.jpg);
  background-size: cover;
  z-index: 1;
}

.cover::before {
  position: absolute;
  content:"";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.3;
  z-index: -1;
  transition: 0.3s;
}

.cover:hover:before {
  opacity: 0.8;
}

@media (max-width: 1024px) {
  .cover {
    margin: 92px 0 0;
    min-height: 640px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .cover {
    min-height: 480px;
    width: 100%;
  }
}

@media (max-width: 320px) {
  .cover {
    min-height: 200px;
    width: 100%;
  }
}
