.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 48px*2);
  margin: 92px 48px 0;
  padding-bottom: 24px;
}

@media (max-width: 768px) {
  .footer {
    margin: 88px 24px 0;
    width: calc(100% - 24px*2);
  }
}

@media (max-width: 590px) {
  .footer {
    flex-direction: column;
    margin: 64px 0 0 0;
    width: calc(100% - 24px*2);
    align-items: flex-start;
  }
}